services:
  postgres:
    image: 'postgres:latest'
    restart: always
    hostname: 'postgres'
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - '5432:5432'
    volumes:
      - '$POSTGRES_HOME/data:/var/lib/postgresql'
    networks:
      - postgres-net

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    volumes:
      - '$PGADMIN_HOME/data:/var/lib/pgadmin'
    networks:
      - postgres-net
    depends_on:
      - postgres

networks:
  postgres-net:
    driver: bridge
    